In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("NYPD_Motor_Vehicle_Collisions.csv", low_memory=False)

In [6]:
df.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,03/28/2017,0:00,BRONX,10466,40.894600,-73.861206,"(40.8946, -73.861206)",NaN,NaN,600 EAST 233 STREET,...,Backing Unsafely,NaN,NaN,NaN,3640650,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
1,03/28/2017,0:00,BROOKLYN,11218,40.654080,-73.977610,"(40.65408, -73.97761)",18 STREET,SEELEY STREET,NaN,...,NaN,NaN,NaN,NaN,3640776,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
2,03/28/2017,0:00,BROOKLYN,11235,40.583847,-73.940590,"(40.583847, -73.94059)",NaN,NaN,2801 EMMONS AVENUE,...,Unspecified,NaN,NaN,NaN,3641541,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
3,03/28/2017,0:00,MANHATTAN,10019,40.762770,-73.975590,"(40.76277, -73.97559)",NaN,NaN,29 WEST 56 STREET,...,NaN,NaN,NaN,NaN,3641285,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
4,03/28/2017,0:00,QUEENS,11429,40.713715,-73.731440,"(40.713715, -73.73144)",222 STREET,101 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,3640888,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN

In [7]:
df_weather = pd.read_csv("NY_weather_data.csv")

In [8]:
df_weather.head()

,Unnamed: 0,Average Humidity,Cooling Degree Days,Date,Dew Point,Events,Growing Degree Days,Heating Degree Days,Max Gust Speed,Max Temperature,...,Since 1 July heating degree days,Since 1 July snowfall,Since 1 June cooling degree days,Since 1 June heating degree days,Snow,Snow Depth,Visibility,Wind Speed,Year to date cooling degree days,Year to date precipitation
0,0.0,71,0,2012/01/01,4,Rain,NaN,18,35,11,...,1345,2.9,NaN,NaN,0.00,0.00,16,10,0,0.05
1,1.0,56,0,2012/01/02,-7,NaN,NaN,23,52,10,...,1368,2.9,NaN,NaN,0.00,0.00,16,17,0,0.05
2,2.0,54,0,2012/01/03,-13,NaN,NaN,41,48,1,...,1409,2.9,NaN,NaN,0.00,0.00,16,17,0,0.05
3,3.0,47,0,2012/01/04,-16,NaN,NaN,45,35,-3,...,1454,2.9,NaN,NaN,0.00,0.00,16,12,0,0.05
4,4.0,50,0,2012/01/05,-8,NaN,NaN,31,35,4,...,1485,2.9,NaN,NaN,0.00,0.00,16,10,0,0.05

In [11]:
df['DATE'] = pd.to_datetime(df.DATE)

In [13]:
df['Date'] = df['DATE'].dt.strftime('%Y/%m/%d')

In [14]:
df.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,Date
0,2017-03-28,0:00,BRONX,10466,40.894600,-73.861206,"(40.8946, -73.861206)",NaN,NaN,600 EAST 233 STREET,...,NaN,NaN,NaN,3640650,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN,2017/03/28
1,2017-03-28,0:00,BROOKLYN,11218,40.654080,-73.977610,"(40.65408, -73.97761)",18 STREET,SEELEY STREET,NaN,...,NaN,NaN,NaN,3640776,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,2017/03/28
2,2017-03-28,0:00,BROOKLYN,11235,40.583847,-73.940590,"(40.583847, -73.94059)",NaN,NaN,2801 EMMONS AVENUE,...,NaN,NaN,NaN,3641541,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,2017/03/28
3,2017-03-28,0:00,MANHATTAN,10019,40.762770,-73.975590,"(40.76277, -73.97559)",NaN,NaN,29 WEST 56 STREET,...,NaN,NaN,NaN,3641285,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN,2017/03/28
4,2017-03-28,0:00,QUEENS,11429,40.713715,-73.731440,"(40.713715, -73.73144)",222 STREET,101 AVENUE,NaN,...,NaN,NaN,NaN,3640888,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN,2017/03/28

In [16]:
df_comb = pd.merge(df, df_weather, on='Date')

In [17]:
df_comb

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,Since 1 July heating degree days,Since 1 July snowfall,Since 1 June cooling degree days,Since 1 June heating degree days,Snow,Snow Depth,Visibility,Wind Speed,Year to date cooling degree days,Year to date precipitation
0,2017-03-28,0:00,BRONX,10466,40.894600,-73.861206,"(40.8946, -73.861206)",NaN,NaN,600 EAST 233 STREET,...,3717,30.2,NaN,NaN,0.00,0.00,7,9,0,11.04
1,2017-03-28,0:00,BROOKLYN,11218,40.654080,-73.977610,"(40.65408, -73.97761)",18 STREET,SEELEY STREET,NaN,...,3717,30.2,NaN,NaN,0.00,0.00,7,9,0,11.04
2,2017-03-28,0:00,BROOKLYN,11235,40.583847,-73.940590,"(40.583847, -73.94059)",NaN,NaN,2801 EMMONS AVENUE,...,3717,30.2,NaN,NaN,0.00,0.00,7,9,0,11.04
3,2017-03-28,0:00,MANHATTAN,10019,40.762770,-73.975590,"(40.76277, -73.97559)",NaN,NaN,29 WEST 56 STREET,...,3717,30.2,NaN,NaN,0.00,0.00,7,9,0,11.04
4,2017-03-28,0:00,QUEENS,11429,40.713715,-73.731440,"(40.713715, -73.73144)",222 STREET,101 AVENUE,NaN,...,3717,30.2,NaN,NaN,0.00,0.00,7,9,0,11.04
5,2017-03-28,0:00,NaN,NaN,40.803585,-73.915520,"(40.803585, -73.91552)",NaN,NaN,NaN,...,3717,30.2,NaN,NaN,0.00,0.00,7,9,0,11.04
6,2017-03-28,0:00,NaN,NaN,40.835194,-73.874054,"(40.835194, -73.874054)",NaN,NaN,NaN,...,3717,30.2,NaN,NaN,0.00,0.00,7,9,0,11.04
7,2017-03-28,0:01,BROOKLYN,11234,40.622400,-73.936646,"(40.6224, -73.936646)",FLATBUSH AVENUE,KINGS HIGHWAY,NaN,...,3717,30.2,NaN,NaN,0.00,0.00,7,9,0,11.04
8,2017-03-28,0:01,NaN,NaN,40.660824,-73.950650,"(40.660824, -73.95065)",NOSTRAND AVENUE,NaN,NaN,...,3717,30.2,NaN,NaN,0.00,0.00,7,9,0,11.04
9,2017-03-28,0:25,NaN,NaN,40.757366,-73.955740,"(40.757366, -73.95574)",NaN,NaN,NaN,...,3717,30.2,NaN,NaN,0.00,0.00,7,9,0,11.04
10,2017-03-28,0:37,NaN,NaN,40.723648,-73.991030,"(40.723648, -73.99103)",EAST HOUSTON STREET,2 AVENUE,NaN,...,3717,30.2,NaN,NaN,0.00,0.00,7,9,0,11.04
11,2017-03-28,10:00,BRONX,10462,40.847687,-73.868180,"(40.847687, -73.86818)",NaN,NaN,1922 AMETHYST STREET,...,3717,30.2,NaN,NaN,0.00,0.00,7,9,0,11.04
12,2017-03-28,10:00,BROOKLYN,11226,40.654100,-73.960710,"(40.6541, -73.96071)",NaN,NaN,5 EAST 21 STREET,...,3717,30.2,NaN,NaN,0.00,0.00,7,9,0,11.04
13,2017-03-28,10:00,BROOKLYN,11235,40.586550,-73.966170,"(40.58655, -73.96617)",NaN,NaN,2601 OCEAN PARKWAY,...,3717,30.2,NaN,NaN,0.00,0.00,7,9,0,11.04
14,2017-03-28,10:00,NaN,NaN,40.648853,-74.013520,"(40.648853, -74.01352)",48 STREET,NaN,NaN,...,3717,30.2,NaN,NaN,0.00,0.00,7,9,0,11.04
15,2017-03-28,10:00,NaN,NaN,40.838238,-73.876686,"(40.838238, -73.876686)",EAST 177 STREET,NaN,NaN,...,3717,30.2,NaN,NaN,0.00,0.00,7,9,0,11.04
16,2017-03-28,10:02,BROOKLYN,11230,40.627130,-73.975280,"(40.62713, -73.97528)",ELMWOOD AVENUE,EAST 2 STREET,NaN,...,3717,30.2,NaN,NaN,0.00,0.00,7,9,0,11.04
17,2017-03-28,10:05,BROOKLYN,11215,40.669754,-73.975270,"(40.669754, -73.97527)",NaN,NaN,582 2 STREET,...,3717,30.2,NaN,NaN,0.00,0.00,7,9,0,11.04
18,2017-03-28,10:10,MANHATTAN,10013,40.722878,-74.008095,"(40.722878, -74.008095)",NaN,NaN,187 HUDSON STREET,...,3717,30.2,NaN,NaN,0.00,0.00,7,9,0,11.04
19,2017-03-28,10:10,NaN,NaN,40.699192,-73.955190,"(40.699192, -73.95519)",WALWORTH STREET,NaN,NaN,...,3717,30.2,NaN,NaN,0.00,0.00,7,9,0,11.04
20,2017-03-28,10:15,NaN,NaN,40.877930,-73.870300,"(40.87793, -73.8703)",NaN,NaN,NaN,...,3717,30.2,NaN,NaN,0.00,0.00,7,9,0,11.04
21,2017-03-28,10:16,BRONX,10455,40.814460,-73.896860,"(40.81446, -73.89686)",BRUCKNER BOULEVARD,EAST 156 STREET,NaN,...,3717,30.2,NaN,NaN,0.00,0.00,7,9,0,11.04
22,2017-03-28,10:16,BRONX,10469,40.863693,-73.853905,"(40.863693, -73.853905)",NaN,NaN,2543 HERING AVENUE,...,3717,30.2,NaN,NaN,0.00,0.00,7,9,0,11.04
23,2017-03-28,10:20,BROOKLYN,11201,40.689230,-73.998955,"(40.68923, -73.998955)",CONGRESS STREET,BROOKLYN QNS EXPRESSWAY,NaN,...,3717,30.2,NaN,NaN,0.00,0.00,7,9,0,11.04
24,2017-03-28,10:20,MANHATTAN,10001,40.750988,-73.990630,"(40.750988, -73.99063)",7 AVENUE,WEST 34 STREET,NaN,...,3717,30.2,NaN,NaN,0.00,0.00,7,9,0,11.04
25,2017-03-28,10:22,NaN,NaN,40.624714,-74.142200,"(40.624714, -74.1422)",FOREST AVENUE,PONTIAC STREET,NaN,...,3717,30.2,NaN,NaN,0.00,0.00,7,9,0,11.04
26,2017-03-28,10:28,NaN,NaN,40.737156,-73.879410,"(40.737156, -73.87941)",QUEENS BOULEVARD,NaN,NaN,...,3717,30.2,NaN,NaN,0.00,0.00,7,9,0,11.04
27,2017-03-28,10:30,BRONX,10459,40.825558,-73.893875,"(40.825558, -73.893875)",NaN,NaN,1072 FOX STREET,...,3717,30.2,NaN,NaN,0.00,0.00,7,9,0,11.04
28,2017-03-28,10:30,QUEENS,11368,40.739910,-73.852455,"(40.73991, -73.852455)",NaN,NaN,57-43 VANDOREN STREET,...,3717,30.2,NaN,NaN,0.00,0.00,7,9,0,11.04
29,2017-03-28,10:30,NaN,NaN,40.859444,-73.915985,"(40.859444, -73.915985)",NaN,NaN,NaN,...,3717,30.2,NaN,NaN,0.00,0.00,7,9,0,11.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005145,2012-07-01,8:15,QUEENS,11373,40.739979,-73.877108,"(40.7399795, -73.8771085)",87 STREET,CORONA AVENUE,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005146,2012-07-01,8:27,BROOKLYN,11216,40.680857,-73.938546,"(40.6808571, -73.9385457)",DECATUR STREET,ALBANY AVENUE,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005147,2012-07-01,8:27,NaN,NaN,40.708797,-73.727620,"(40.7087971, -73.72762)",NaN,NaN,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005148,2012-07-01,8:30,NaN,NaN,NaN,NaN,NaN,WEST 181 STREET,RIVERSIDE DRIVE,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005149,2012-07-01,8:34,BROOKLYN,11213,40.668798,-73.931120,"(40.6687978, -73.9311201)",EASTERN PARKWAY,UTICA AVENUE,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005150,2012-07-01,8:37,QUEENS,11435,40.694545,-73.802112,"(40.6945453, -73.802112)",SOUTH ROAD,SUTPHIN BOULEVARD,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005151,2012-07-01,8:43,NaN,NaN,NaN,NaN,NaN,HORACE HARDING EXPRESSWAY,UTOPIA PARKWAY,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005152,2012-07-01,8:58,BRONX,10466,40.891840,-73.862740,"(40.8918398, -73.8627401)",BRONX BOULEVARD,EAST 229 STREET,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005153,2012-07-01,9:00,QUEENS,11101,40.744131,-73.927047,"(40.7441309, -73.9270473)",38 STREET,QUEENS BOULEVARD,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005154,2012-07-01,9:00,MANHATTAN,10022,40.757859,-73.975592,"(40.7578587, -73.975592)",EAST 50 STREET,MADISON AVENUE,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005155,2012-07-01,9:15,BROOKLYN,11233,40.675380,-73.908196,"(40.6753803, -73.9081956)",PACIFIC STREET,EASTERN PARKWAY,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005156,2012-07-01,9:15,QUEENS,11421,40.696308,-73.851549,"(40.6963077, -73.8515486)",94 STREET,85 ROAD,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005157,2012-07-01,9:15,QUEENS,11429,40.711860,-73.735538,"(40.7118601, -73.7355383)",219 STREET,104 AVENUE,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005158,2012-07-01,9:15,STATEN ISLAND,10310,40.634748,-74.112253,"(40.6347476, -74.1122528)",CASTLETON AVENUE,BEMENT AVENUE,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005159,2012-07-01,9:24,QUEENS,11411,40.690917,-73.728179,"(40.6909168, -73.7281786)",LINDEN BOULEVARD,234 STREET,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005160,2012-07-01,9:30,BRONX,10475,40.861637,-73.824326,"(40.8616372, -73.8243256)",HUNTER AVENUE,EARHART LANE,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005161,2012-07-01,9:30,BROOKLYN,11219,40.626826,-73.996790,"(40.626826, -73.9967902)",61 STREET,NEW UTRECHT AVENUE,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005162,2012-07-01,9:30,QUEENS,11368,40.755336,-73.843245,"(40.7553365, -73.8432452)",ROOSEVELT AVENUE,126 STREET,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005163,2012-07-01,9:30,BROOKLYN,11207,40.678163,-73.897477,"(40.6781627, -73.8974769)",JAMAICA AVENUE,PENNSYLVANIA AVENUE,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005164,2012-07-01,9:39,BROOKLYN,11226,40.646518,-73.958105,"(40.6465177, -73.958105)",TILDEN AVENUE,FLATBUSH AVENUE,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005165,2012-07-01,9:40,BRONX,10462,40.839882,-73.857658,"(40.8398819, -73.8576576)",METROPOLITAN AVENUE,MAPLE DRIVE,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005166,2012-07-01,9:40,MANHATTAN,10002,40.714069,-73.997504,"(40.7140687, -73.9975038)",DIVISION STREET,CATHERINE STREET,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005167,2012-07-01,9:40,QUEENS,11354,40.764455,-73.831773,"(40.7644548, -73.831773)",35 AVENUE,FARRINGTON STREET,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005168,2012-07-01,9:40,QUEENS,11369,40.767470,-73.881859,"(40.7674704, -73.8818593)",23 AVENUE,88 STREET,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005169,2012-07-01,9:40,QUEENS,11370,40.758743,-73.890690,"(40.7587426, -73.8906895)",31 AVENUE,77 STREET,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005170,2012-07-01,9:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005171,2012-07-01,9:50,MANHATTAN,10019,40.766779,-73.996762,"(40.7667789, -73.9967618)",WEST SIDE HIGHWAY,WEST 50 STREET,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005172,2012-07-01,9:50,QUEENS,11001,40.736245,-73.702966,"(40.7362448, -73.7029656)",265 STREET,85 AVENUE,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005173,2012-07-01,9:57,MANHATTAN,10065,40.765242,-73.957868,"(40.7652424, -73.9578679)",1 AVENUE,EAST 68 STREET,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005174,2012-07-01,9:59,BRONX,10452,40.835397,-73.920305,"(40.835397, -73.920305)",EAST 167 STREET,GERARD AVENUE,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47

In [21]:
df_comb[df_comb['Date'] == '2012/07/01']

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,Since 1 July heating degree days,Since 1 July snowfall,Since 1 June cooling degree days,Since 1 June heating degree days,Snow,Snow Depth,Visibility,Wind Speed,Year to date cooling degree days,Year to date precipitation
1004637,2012-07-01,0:21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1004638,2012-07-01,17:00,NaN,NaN,40.853709,-73.871857,"(40.8537088, -73.8718573)",NaN,NaN,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1004639,2012-07-01,5:00,NaN,NaN,40.537332,-74.189127,"(40.5373316, -74.1891267)",NaN,NaN,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1004640,2012-07-01,0:05,MANHATTAN,10036,40.762127,-73.997387,"(40.7621266, -73.9973865)",11 AVENUE,WEST 44 STREET,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1004641,2012-07-01,0:05,NaN,NaN,40.697753,-73.813916,"(40.6977532, -73.8139159)",NaN,NaN,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1004642,2012-07-01,0:10,BROOKLYN,11223,40.588868,-73.972745,"(40.5888678, -73.9727446)",WEST 3 STREET,BOUCK COURT,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1004643,2012-07-01,0:10,NaN,NaN,40.733610,-73.923840,"(40.73361, -73.9238405)",NaN,NaN,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1004644,2012-07-01,0:20,BROOKLYN,11215,40.677406,-73.983048,"(40.6774056, -73.9830482)",4 AVENUE,UNION STREET,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1004645,2012-07-01,0:22,BRONX,10451,40.824188,-73.913840,"(40.8241884, -73.91384)",EAST 161 STREET,MELROSE AVENUE,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1004646,2012-07-01,0:23,BROOKLYN,11234,40.607179,-73.916414,"(40.6071786, -73.9164142)",STRICKLAND AVENUE,NATIONAL DRIVE,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1004647,2012-07-01,0:25,QUEENS,11375,40.732979,-73.844348,"(40.7329792, -73.8443478)",GRND CNTRL PARKWAY SR WEST,65 AVENUE,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1004648,2012-07-01,0:30,BROOKLYN,11233,40.670118,-73.922467,"(40.6701181, -73.9224672)",SAINT JOHNS PLACE,RALPH AVENUE,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1004649,2012-07-01,0:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PARKING LOT OF 154-02 HORACE HARDING,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1004650,2012-07-01,0:30,MANHATTAN,10007,40.714678,-74.005887,"(40.7146779, -74.005887)",READE STREET,BROADWAY,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1004651,2012-07-01,0:37,MANHATTAN,10017,40.755924,-73.974889,"(40.7559235, -73.9748888)",PARK AVENUE,EAST 48 STREET,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1004652,2012-07-01,0:44,BROOKLYN,11220,40.641746,-74.013815,"(40.6417459, -74.0138151)",56 STREET,5 AVENUE,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1004653,2012-07-01,0:45,MANHATTAN,10022,40.758976,-73.964503,"(40.7589756, -73.9645027)",EAST 57 STREET,QUEENSBORO BRIDGE APPROACH,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1004654,2012-07-01,0:45,QUEENS,11416,40.681047,-73.849300,"(40.6810466, -73.8493003)",103 AVENUE,90 STREET,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1004655,2012-07-01,0:45,QUEENS,11434,40.670701,-73.773654,"(40.670701, -73.7736537)",140 AVENUE,BREWER BOULEVARD,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1004656,2012-07-01,10:00,MANHATTAN,10036,40.759406,-73.985103,"(40.7594056, -73.9851029)",WEST 47 STREET,BROADWAY,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1004657,2012-07-01,10:00,QUEENS,11358,40.762849,-73.805374,"(40.7628488, -73.8053745)",NaN,NaN,160-03 NORTHERN BLVD,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1004658,2012-07-01,10:02,QUEENS,11697,40.561177,-73.917516,"(40.5611765, -73.9175155)",BEACH 209 STREET,WEST MARKET STREET,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1004659,2012-07-01,10:11,MANHATTAN,10002,40.720477,-73.989719,"(40.7204773, -73.9897185)",ALLEN STREET,RIVINGTON STREET,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1004660,2012-07-01,10:15,QUEENS,11365,40.730589,-73.798714,"(40.7305892, -73.7987143)",71 AVENUE,171 STREET,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1004661,2012-07-01,10:20,MANHATTAN,10029,40.793606,-73.949507,"(40.7936059, -73.9495073)",EAST 106 STREET,MADISON AVENUE,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1004662,2012-07-01,10:30,QUEENS,11414,40.657500,-73.839464,"(40.6574995, -73.8394637)",160 AVENUE,CROSS BAY BOULEVARD,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1004663,2012-07-01,10:30,QUEENS,11414,40.657500,-73.839464,"(40.6574995, -73.8394637)",160 AVENUE,CROSSBAY BOULEVARD,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1004664,2012-07-01,10:35,MANHATTAN,10022,40.758432,-73.973069,"(40.7584318, -73.9730687)",PARK AVENUE,EAST 52 STREET,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1004665,2012-07-01,10:40,MANHATTAN,10013,40.720854,-74.003929,"(40.7208537, -74.0039287)",CANAL STREET,WOOSTER STREET,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1004666,2012-07-01,10:40,QUEENS,11372,40.747237,-73.891506,"(40.7472374, -73.8915059)",74 STREET,37 ROAD,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005145,2012-07-01,8:15,QUEENS,11373,40.739979,-73.877108,"(40.7399795, -73.8771085)",87 STREET,CORONA AVENUE,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005146,2012-07-01,8:27,BROOKLYN,11216,40.680857,-73.938546,"(40.6808571, -73.9385457)",DECATUR STREET,ALBANY AVENUE,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005147,2012-07-01,8:27,NaN,NaN,40.708797,-73.727620,"(40.7087971, -73.72762)",NaN,NaN,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005148,2012-07-01,8:30,NaN,NaN,NaN,NaN,NaN,WEST 181 STREET,RIVERSIDE DRIVE,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005149,2012-07-01,8:34,BROOKLYN,11213,40.668798,-73.931120,"(40.6687978, -73.9311201)",EASTERN PARKWAY,UTICA AVENUE,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005150,2012-07-01,8:37,QUEENS,11435,40.694545,-73.802112,"(40.6945453, -73.802112)",SOUTH ROAD,SUTPHIN BOULEVARD,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005151,2012-07-01,8:43,NaN,NaN,NaN,NaN,NaN,HORACE HARDING EXPRESSWAY,UTOPIA PARKWAY,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005152,2012-07-01,8:58,BRONX,10466,40.891840,-73.862740,"(40.8918398, -73.8627401)",BRONX BOULEVARD,EAST 229 STREET,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005153,2012-07-01,9:00,QUEENS,11101,40.744131,-73.927047,"(40.7441309, -73.9270473)",38 STREET,QUEENS BOULEVARD,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005154,2012-07-01,9:00,MANHATTAN,10022,40.757859,-73.975592,"(40.7578587, -73.975592)",EAST 50 STREET,MADISON AVENUE,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005155,2012-07-01,9:15,BROOKLYN,11233,40.675380,-73.908196,"(40.6753803, -73.9081956)",PACIFIC STREET,EASTERN PARKWAY,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005156,2012-07-01,9:15,QUEENS,11421,40.696308,-73.851549,"(40.6963077, -73.8515486)",94 STREET,85 ROAD,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005157,2012-07-01,9:15,QUEENS,11429,40.711860,-73.735538,"(40.7118601, -73.7355383)",219 STREET,104 AVENUE,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005158,2012-07-01,9:15,STATEN ISLAND,10310,40.634748,-74.112253,"(40.6347476, -74.1122528)",CASTLETON AVENUE,BEMENT AVENUE,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005159,2012-07-01,9:24,QUEENS,11411,40.690917,-73.728179,"(40.6909168, -73.7281786)",LINDEN BOULEVARD,234 STREET,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005160,2012-07-01,9:30,BRONX,10475,40.861637,-73.824326,"(40.8616372, -73.8243256)",HUNTER AVENUE,EARHART LANE,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005161,2012-07-01,9:30,BROOKLYN,11219,40.626826,-73.996790,"(40.626826, -73.9967902)",61 STREET,NEW UTRECHT AVENUE,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005162,2012-07-01,9:30,QUEENS,11368,40.755336,-73.843245,"(40.7553365, -73.8432452)",ROOSEVELT AVENUE,126 STREET,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005163,2012-07-01,9:30,BROOKLYN,11207,40.678163,-73.897477,"(40.6781627, -73.8974769)",JAMAICA AVENUE,PENNSYLVANIA AVENUE,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005164,2012-07-01,9:39,BROOKLYN,11226,40.646518,-73.958105,"(40.6465177, -73.958105)",TILDEN AVENUE,FLATBUSH AVENUE,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005165,2012-07-01,9:40,BRONX,10462,40.839882,-73.857658,"(40.8398819, -73.8576576)",METROPOLITAN AVENUE,MAPLE DRIVE,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005166,2012-07-01,9:40,MANHATTAN,10002,40.714069,-73.997504,"(40.7140687, -73.9975038)",DIVISION STREET,CATHERINE STREET,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005167,2012-07-01,9:40,QUEENS,11354,40.764455,-73.831773,"(40.7644548, -73.831773)",35 AVENUE,FARRINGTON STREET,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005168,2012-07-01,9:40,QUEENS,11369,40.767470,-73.881859,"(40.7674704, -73.8818593)",23 AVENUE,88 STREET,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005169,2012-07-01,9:40,QUEENS,11370,40.758743,-73.890690,"(40.7587426, -73.8906895)",31 AVENUE,77 STREET,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005170,2012-07-01,9:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005171,2012-07-01,9:50,MANHATTAN,10019,40.766779,-73.996762,"(40.7667789, -73.9967618)",WEST SIDE HIGHWAY,WEST 50 STREET,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005172,2012-07-01,9:50,QUEENS,11001,40.736245,-73.702966,"(40.7362448, -73.7029656)",265 STREET,85 AVENUE,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005173,2012-07-01,9:57,MANHATTAN,10065,40.765242,-73.957868,"(40.7652424, -73.9578679)",1 AVENUE,EAST 68 STREET,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47
1005174,2012-07-01,9:59,BRONX,10452,40.835397,-73.920305,"(40.835397, -73.920305)",EAST 167 STREET,GERARD AVENUE,NaN,...,0,0.0,220,15,0.00,0.00,16,7,335,17.47

In [31]:
df_comb.columns

Index(['DATE', 'TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE', 'LONGITUDE',
       'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME',
       'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
       'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
       'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
       'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED',
       'CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2',
       'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4',
       'CONTRIBUTING FACTOR VEHICLE 5', 'UNIQUE KEY', 'VEHICLE TYPE CODE 1',
       'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4',
       'VEHICLE TYPE CODE 5', 'Date', 'Unnamed: 0', 'Average Humidity',
       'Cooling Degree Days', 'Dew Point', 'Events', 'Growing Degree Days',
       'Heating Degree Days', 'Max Gust Speed', 'Max Temperature',
       'Max Wind Speed', 'Maximum Humidity', 'Mean Temperature',
       'Min Temperature', 'Minimum Humidity',
       'Month to date cooling degree days',
       'Month to date heating degree days', 'Month to date precipitation',
       'Month to date snowfall', 'Precipitation', 'Sea Level Pressure',
       'Since 1 July heating degree days', 'Since 1 July snowfall',
       'Since 1 June cooling degree days', 'Since 1 June heating degree days',
       'Snow', 'Snow Depth', 'Visibility', 'Wind Speed',
       'Year to date cooling degree days', 'Year to date precipitation'],
      dtype='object')

In [41]:
df_comb.to_csv("NYPD_Motor_Vehicle_Collisions_all_data.csv", index=False)

In [35]:
columns_to_keep = ['Date', 'TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE', 'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2', 'UNIQUE KEY', 'VEHICLE TYPE CODE 1','VEHICLE TYPE CODE 2', 'Average Humidity', 'Dew Point', 'Events', 'Max Gust Speed', 'Max Temperature', 'Max Wind Speed', 'Maximum Humidity', 'Mean Temperature', 'Min Temperature', 'Minimum Humidity', 'Precipitation', 'Sea Level Pressure', 'Snow', 'Snow Depth', 'Visibility', 'Wind Speed']

In [38]:
df_reduced = df_comb[columns_to_keep]

In [42]:
df_reduced.to_csv("NYPD_Motor_Vehicle_Collisions_reduced_data.csv", index=False)