In [3]:
import numpy as np
import pandas as pd
from scipy import stats

In [56]:
df = pd.read_csv("/Users/Work/programming/repositories/github_data/SAL_data/SFPD_Incidents_-_from_1_January_2003.csv")
df = df.dropna()
df = df[(np.abs(stats.zscore(df[['X','Y']])) < 5).all(axis=1)]

In [5]:
df.head()

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId
0,150060275,NON-CRIMINAL,LOST PROPERTY,Monday,01/19/2015,14:00,MISSION,NONE,18TH ST / VALENCIA ST,-122.421582,37.761701,"(37.7617007179518, -122.42158168137)",15006027571000
1,150098210,ROBBERY,"ROBBERY, BODILY FORCE",Sunday,02/01/2015,15:45,TENDERLOIN,NONE,300 Block of LEAVENWORTH ST,-122.414406,37.784191,"(37.7841907151119, -122.414406029855)",15009821003074
2,150098210,ASSAULT,AGGRAVATED ASSAULT WITH BODILY FORCE,Sunday,02/01/2015,15:45,TENDERLOIN,NONE,300 Block of LEAVENWORTH ST,-122.414406,37.784191,"(37.7841907151119, -122.414406029855)",15009821004014
3,150098210,SECONDARY CODES,DOMESTIC VIOLENCE,Sunday,02/01/2015,15:45,TENDERLOIN,NONE,300 Block of LEAVENWORTH ST,-122.414406,37.784191,"(37.7841907151119, -122.414406029855)",15009821015200
4,150098226,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",Tuesday,01/27/2015,19:00,NORTHERN,NONE,LOMBARD ST / LAGUNA ST,-122.431119,37.800469,"(37.8004687042875, -122.431118543788)",15009822628160

In [6]:
PR_locs = df[df['Category'] == 'PROSTITUTION'][['X', 'Y']].copy()
PR_locs.head()

               X          Y
3395 -122.485039  37.761291
3639 -122.466205  37.772541
5423 -122.403405  37.775421
6863 -122.409661  37.786439
7561 -122.417956  37.757880

In [25]:
from sklearn import cluster

kmeans_data = np.array([PR_locs['X'], PR_locs['Y']]).T
kmeans_cluster_n = range(2,7)

cluster_centers = []

for n in kmeans_cluster_n:
    
    kmeans = cluster.KMeans(n_clusters=n)
    kmeans.fit(kmeans_data)
    cluster_centers.append(kmeans.cluster_centers_)
    
    PR_locs['k' + str(n)] = kmeans.labels_

In [8]:
PR_locs.head()

               X          Y  k2  k3  k4  k5  k6
3395 -122.485039  37.761291   0   2   0   4   3
3639 -122.466205  37.772541   0   2   0   4   3
5423 -122.403405  37.775421   1   1   2   3   0
6863 -122.409661  37.786439   1   1   2   3   0
7561 -122.417956  37.757880   0   0   1   1   1

In [9]:
PR_locs.memory_usage()

Index    129288
X        129288
Y        129288
k2        64644
k3        64644
k4        64644
k5        64644
k6        64644
dtype: int64

In [69]:
PR_locs = PR_locs.sort_values(['k2', 'k3', 'k4', 'k5', 'k6'], ascending=True)
PR_locs

                  X          Y  k2  k3  k4  k5  k6
7561    -122.417956  37.757880   0   0   1   0   0
8782    -122.417818  37.757888   0   0   1   0   0
14616   -122.415781  37.758831   0   0   1   0   0
14644   -122.417964  37.758697   0   0   1   0   0
20266   -122.417813  37.757101   0   0   1   0   0
20372   -122.417813  37.757101   0   0   1   0   0
20470   -122.415930  37.760433   0   0   1   0   0
20471   -122.415930  37.760433   0   0   1   0   0
21024   -122.415930  37.760433   0   0   1   0   0
21057   -122.414693  37.758896   0   0   1   0   0
21501   -122.415930  37.760433   0   0   1   0   0
22497   -122.415930  37.760433   0   0   1   0   0
22499   -122.415930  37.760433   0   0   1   0   0
23533   -122.419360  37.761836   0   0   1   0   0
23534   -122.419360  37.761836   0   0   1   0   0
23728   -122.418486  37.763495   0   0   1   0   0
24388   -122.415930  37.760433   0   0   1   0   0
24389   -122.415930  37.760433   0   0   1   0   0
24390   -122.415930  37.760433   0   0   1   0   0
24391   -122.415930  37.760433   0   0   1   0   0
25153   -122.415930  37.760433   0   0   1   0   0
25256   -122.415930  37.760433   0   0   1   0   0
25257   -122.415930  37.760433   0   0   1   0   0
27530   -122.415930  37.760433   0   0   1   0   0
27562   -122.415930  37.760433   0   0   1   0   0
27584   -122.415930  37.760433   0   0   1   0   0
27811   -122.415930  37.760433   0   0   1   0   0
27813   -122.415930  37.760433   0   0   1   0   0
28110   -122.426635  37.754962   0   0   1   0   0
28119   -122.417333  37.763572   0   0   1   0   0
...             ...        ...  ..  ..  ..  ..  ..
2021740 -122.401817  37.788441   1   1   0   4   1
2022797 -122.388380  37.783310   1   1   0   4   1
2022798 -122.388380  37.783310   1   1   0   4   1
2022804 -122.388380  37.783310   1   1   0   4   1
2022805 -122.388380  37.783310   1   1   0   4   1
16923   -122.458861  37.781255   1   1   3   2   2
901206  -122.461749  37.783008   1   1   3   2   2
1212146 -122.454978  37.776658   1   1   3   2   2
9468    -122.470190  37.780876   1   2   3   2   2
59967   -122.469628  37.781720   1   2   3   2   2
169192  -122.471250  37.780579   1   2   3   2   2
187529  -122.472708  37.777753   1   2   3   2   2
203793  -122.461347  37.777410   1   2   3   2   2
338803  -122.482593  37.781140   1   2   3   2   2
510144  -122.482204  37.782075   1   2   3   2   2
646978  -122.487943  37.778962   1   2   3   2   2
687234  -122.464007  37.778148   1   2   3   2   2
768651  -122.473431  37.780726   1   2   3   2   2
823540  -122.478306  37.780381   1   2   3   2   2
894191  -122.481378  37.779253   1   2   3   2   2
972676  -122.463076  37.778190   1   2   3   2   2
1048780 -122.466425  37.779938   1   2   3   2   2
1135314 -122.470849  37.781666   1   2   3   2   2
1185288 -122.472844  37.779646   1   2   3   2   2
1277864 -122.474537  37.780435   1   2   3   2   2
1400045 -122.482204  37.782075   1   2   3   2   2
1563426 -122.484593  37.779114   1   2   3   2   2
1624807 -122.469628  37.781720   1   2   3   2   2
1685291 -122.470190  37.780876   1   2   3   2   2
1925234 -122.461347  37.777410   1   2   3   2   2

[16161 rows x 7 columns]

In [24]:
PR_locs.to_json('kmeansPR-values.json', orient='values')

In [27]:
for i in cluster_centers:
    print(i)

[[-122.41924312   37.76000422]
 [-122.41721258   37.78739426]]
[[-122.41582476   37.76134606]
 [-122.41709742   37.78742455]
 [-122.47811475   37.73890649]]
[[-122.41708247   37.78742712]
 [-122.41579333   37.76144681]
 [-122.46632498   37.71881425]
 [-122.48639783   37.7585723 ]]
[[-122.41584224   37.7614257 ]
 [-122.41876998   37.78765447]
 [-122.48639783   37.7585723 ]
 [-122.46632498   37.71881425]
 [-122.40453469   37.78553069]]
[[-122.41599942   37.76172244]
 [-122.40459074   37.78553711]
 [-122.48636573   37.75868925]
 [-122.41877772   37.7876559 ]
 [-122.46952143   37.71917352]
 [-122.40583612   37.72848825]]

In [74]:
from collections import Counter
Counter(df['PdDistrict'])

Counter({'BAYVIEW': 203827,
         'CENTRAL': 202334,
         'INGLESIDE': 179586,
         'MISSION': 273384,
         'NORTHERN': 246961,
         'PARK': 115043,
         'RICHMOND': 105358,
         'SOUTHERN': 364493,
         'TARAVAL': 152061,
         'TENDERLOIN': 180674})

### Testing smaller dataset

In [57]:
import random

In [63]:
sample_rows = np.random.choice(PR_locs.index.values, 5000)

In [65]:
PR_smaller = PR_locs.ix[sample_rows].copy()

In [66]:
PR_smaller.head()

                  X          Y  k2  k3  k4  k5  k6
981898  -122.420875  37.791494   1   1   0   1   3
1359426 -122.412584  37.767821   0   0   1   0   0
1652412 -122.417904  37.785167   1   1   0   1   3
1272850 -122.417019  37.789110   1   1   0   1   3
1880684 -122.403971  37.784828   1   1   0   4   1

In [67]:
PR_smaller.to_json('kmeansPR-values-small.json', orient='values')